.container {
  height: 25%;
  margin: 2rem;
}

.buttons-container {
  display: flex;
  padding: 1rem;
  background-color: #313030;
  border-radius: 10px 10px 0 0;
}

.btn-1,
.btn-2,
.btn-3{
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .buttons-container {
    padding: 1.2rem;
  }

  .btn-1,
  .btn-2,
  .btn-3{
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 1rem;
    border-radius: 50%;
  }
}

.btn-1 {
  background-color: red;
}
.btn-2 {
  background-color: #ffce58;
}
.btn-3 {
  background-color: green;
}

.display {
  height: 85%;
  background-color: black;
  border-radius: 0 0 10px 10px;

  overflow-y: scroll;
  padding: 1rem;
  font-size: 1.4rem;
  font-family: var(--firstFont);
  font-weight: 500;
  line-height: normal;
  color: #42b942;

  scrollbar-width: thin;
  scrollbar-color: #646464 #cccabf;
}

@media (min-width: 768px) {

  .display {
    font-size: 1.8rem;
  }

}

.display::-webkit-scrollbar {
  width: 5px;
}

.display::-webkit-scrollbar-thumb {
  background-color: #646464;
}

.display::-webkit-scrollbar-track {
  background-color: #cccabf;
}
