.b-right {
  display: flex;
  justify-content: end;
}

.b-left {
  display: flex;
  justify-content: inherit;
}

.bubble {
  overflow: auto;
  max-width: 80%;
  padding: 1.4rem 1.6rem;
  margin: 0 1rem 1rem 0;

  animation-duration: 0.4s;
  animation-name: appear;
}

.bg-gray {
  border-radius: 10px 10px 10px 0;
  color: #000000;
  background-color: #e1e1e1;
}

.bg-blue {
  border-radius: 10px 10px 0 10px;
  color: #FFFFFF;
  background-color: #1c70cc;
}

.bubble pre {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;

  font-size: 1.4rem;
  font-family: var(--firstFont);

  animation-duration: 0.4s;
  animation-name: appear;
}

@media (min-width: 768px) {

  .bubble {
    padding: 1.5rem 2rem;
  }

  .bubble pre {
    font-size: 1.8rem;
  }

}

@keyframes appear {

  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 100%;
    height: auto;
  }

}
