.container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(45deg,transparent 14%, #e7e5e5 15%, #e7e5e5 20%, transparent 21%, transparent 79%, #e7e5e5  80%, #e7e5e5 85%, transparent 86%),linear-gradient(135deg,transparent 14%, #e7e5e5 15%, #e7e5e5 20%, transparent 21%, transparent 79%, #e7e5e5  80%, #e7e5e5 85%, transparent 86%), radial-gradient(transparent 14%, #e7e5e5 15%, #e7e5e5 25%, transparent 26%);
  background-size: 7em 7em;
  background-color: #f5f5f5;
  opacity: 1;
}

.info {
  display: flex;
}

.delete {
  cursor: pointer;
}

.panel {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(255, 255, 255);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.20) 0 1px 10px;
}

@media (min-width: 768px) {
  .panel {
    height: 95%;
    margin: 2rem;
    max-width: 90%;
  }
}

@media (min-width: 1024px) {
  .panel {
    height: 95%;
    margin: 2rem;
    max-width: 50%;
  }
}

@media (min-width: 2000px) {
  .panel {
    height: 95%;
    margin: 2rem;
    max-width: 40%;
  }
}

/* title */

.title-container {
  width: 100%;
  height: 8%;
  font-family: var(--firstFont);
  font-size: 2.3rem;

  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;

  background-color: #dadada;
  font-weight: 500;

  border-radius: 10px 10px 0 0;
}

.fa-trash {
  font-size: 2rem;
}

.title-container .pp {
  margin-right: 1.2rem;
  background-color: #4ba17e;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.7rem;
}

.input-message {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 2rem;
}

@media (min-width: 768px) {
  .input-message {
    width: 96%;
  }
}

.app-input {
  width: 80%;
  min-width: 80%;
  margin: 0;
  padding: 0;
  height: 4.4rem;
}

.btn-send {
  cursor: pointer;
  font-size: 1.6rem;
  border: transparent;
  border-radius:  0 10px 10px 0;
  color: #000000;
  width: 20%;
  min-width: 20%;
  margin: 0;
  height: 4.4rem;
  background-color: #dfdfe0;

  transition: all .3s ease-out;
}

.btn-send:hover {
  background-color: #43a3b6;
  color: #FFFFFF;
}

.btn-send:disabled {
  color: #000000;
  background-color: #dfdfe0;
}

.btn-send:disabled:hover {
  cursor: inherit;
}

@media (min-width: 768px) {
  .app-input {
    width: 90%;
    min-width: 90%;
  }

  .btn-send {
    width: 10%;
    min-width: 10%;
  }
}

@media (min-width: 1020px) {
  .app-input {
    width: 95%;
    min-width: 95%;
  }

  .btn-send {
    width: 5%;
    min-width: 5%;
  }
}

/* Input */

.input-container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  height: 4.4rem;
}

.input-container input {
  width: 100%;
  min-width: 100%;
  border: solid rgba(0, 0, 0, 0.16) 1px;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  height: 4.4rem;
  font-family: var(--firstFont);
}
