<div class="container">
  <div class="panel">
    <div class="title-container">
      <div class="info">
        <div class="pp">
          CS
        </div>
        <div class="name">Chat SQL</div>
      </div>
      <div class="delete">
        <i class="fa-sharp fa-solid fa-trash"></i>
      </div>
    </div>
    <app-chats-box></app-chats-box>
<!--    <app-display></app-display>-->
    <div class="input-message">
      <app-input class="app-input"></app-input>
      <button class="btn-send">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>

   </div>
</div>
