<div class="container">
  <div class="panel">
    <div class="title-container">
      <div class="info">
        <div class="pp">
          CS
        </div>
        <div class="name">Chat SQL</div>
      </div>
      <div class="delete">
       <button class="btn-delete" (click)="deleteHistory()" [disabled]="!allRequestAndResponse?.length">
         <i class="fa-sharp fa-solid fa-trash"></i>
       </button>
      </div>
    </div>
    <app-chats-box [isLoading]="isLoading"
                   [allRequestAndResponse]="allRequestAndResponse"
    >
    </app-chats-box>
    <div class="input-message">

      <div class="input-container" [formGroup]="myForm" *ngIf="myForm">
        <input formControlName="text"
               (keyup.enter)="sendRequest()"
               type="text" placeholder="Ej: Crea una tabla llamada ..."
        >
      </div>

      <button class="btn-send" (click)="sendRequest()" [disabled]="isLoading || !text?.valid">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>

   </div>
</div>
