:root {
  --firstFont: 'Poppins', sans-serif;
  --secondFont: 'Josefin Slab', serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body, html {
  background-color: rgba(250, 250, 250);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


